html, button{
    color: white;
    font-family: sans-serif;
    font-size: 32px;
    font-style: bold;
    background-color: lightgray;
}

.container{
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px;
    background-color: black;
}

.display{
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: last baseline;
    font-size: 64px;
    font-style: bolder;
}

.buttons{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    border: 1px solid black;
    border-radius: 46px;
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero, .operate{
    width: 180px;
}

.clear{
    width: 280px;
}

.number{
    background-color: grey;
}

.operator, .operate{
    background-color: orange;
}

.clear{
    background-color: lightgrey;
    margin-right: auto;
}

.operate{
    margin-left: auto;
}